astroid==2.11.2
cfgv==3.3.1
dill==0.3.4
distlib==0.3.4
filelock==3.6.0
identify==2.4.12
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
nodeenv==1.6.0
platformdirs==2.5.1
pre-commit==2.18.1
pylint==2.13.5
PyYAML==6.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.14.0
wrapt==1.14.0
